nav_layer {
                        display-name = "Nav";
// -----------------------------------------------------------------------------------------
// |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |   |  TRANS  |   {  |    }   |  (   |    )    |
// |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |   |  TRANS  |  UP  |  DOWN  |  UP  |  RIGHT  |
// |  TRANS  |  TRANS  |  TRANS  |  TRANS  |  TRANS  |   |  TRANS  |   [  |    ]   |   <  |    >    |
//                        | TRANS |   TRANS  | TRANS |   | TRANS | TRANS | TRANS |
                        bindings = <            
   &none    &trans    &trans    &trans    &trans    &trans        &trans   &kp LBRC   &kp RBRC   &kp LPAR    &kp RPAR    &none
   &none  &trans    &trans    &trans    &trans    &trans        &trans    &kp LEFT &kp DOWN &kp UP    &kp RIGHT &none
   &none  &trans    &trans    &trans    &trans  &trans       &trans  &kp LBRC &kp RBRC &kp LT   &kp GT    &none
                                  &trans    &trans    &trans     &trans  &trans  &trans
                        >;
                };
